/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1170px;
    
}
.top-section{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 30px;
    
}

.top-banner{
    background-color: black;
    border-radius: 30px;
}

.warper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top-text{
    color: white;
    width: 400px;
    padding-left: 40px;
}
.top-text h3{
    font-size: 60px;
}
.top-text p{
    margin-bottom: 45px;
}
.btn-link a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 10px 30px;
    background-color: tomato;
    border-radius: 4px;
}
.fa-angle-right{
    padding-left: 10px;
    margin-top: -3px;
}
/* second part */
.two-part{
    display: flex;
}
.side-part{
    width: 500px;
    height: 210px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
    
}
.side-part ul li{
    list-style: none;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.side-part ul li a{
    text-align: none;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
    background-color: red;
    color: #fff;
}
.fild-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    
}
.fild-part img{
    width: 100%;
}

.field{
    margin-left: 25px;
    border-radius: 11px;
    height: 335px;
}

@media only screen and (min-width:768px) and (max-width:992px){
    .img-part {
        width: 50%;
    }
    .top-text{
        width: 50%;
    }
    .top-banner{
        border-radius: 60px;
    }
    .two-part{
        flex-direction: column;
    }
    .side-part{
        background-color: #fff;
        width: auto;
        height: auto;
        margin-bottom: 60px;
    }
    .side-part ul{
        display: flex;
        justify-content: center;
        height: 0px;
    }
    .side-part ul li{
        margin-left: 20px;
        
    }
    .fild-part{
        grid-template-columns: repeat(2, 1fr);
    }

}