/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
*{
    margin: 0;
    padding: 0;
}
section{
    margin-bottom: 100px;
}

.top-section{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 30px;
    
}
.container{
    width: 1170px;
    
}

.top-banner{
    background-color: black;
    border-radius: 30px;
}

.warper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top-text{
    color: white;
    width: 400px;
    padding-left: 40px;
}
.top-text h3{
    font-size: 60px;
}
.top-text p{
    margin-bottom: 45px;
}
.btn-link a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 10px 30px;
    background-color: tomato;
    border-radius: 4px;
}
.fa-angle-right{
    padding-left: 10px;
    margin-top: -3px;
}
.img-part{
    width: 100%;
}
/* second part */
.two-part{
    display: flex;
}
.side-part{
    width: 500px;
    height: 210px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
    
}
.side-part ul li{
    list-style: none;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.side-part ul li a{
    text-align: none;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px;
    background-color: red;
    color: #fff;
}
.fild-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    
}
.fild-part img{
    width: 100%;
}

.field{
    margin-left: 25px;
    border-radius: 11px;
    height: 360px;   
    box-shadow: 1px 2px 8px 0px;
}
.card-text{
    padding: 16px;
}
.card-text button{
    font-size: 24px;
    letter-spacing: 1px;
    padding: 0px 5px;
}

.card-text p{
    margin: 25px 0px;
}
.icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.icons i{
    margin-right: 10px
}
/* footer part */
.footer-part{
    text-align: center;
    margin: auto;
    
}
footer{
    background-color: black;
    color: white;
}
.footer-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 60px;
}
hr{
    border: 1px solid rgb(72 70 70);
}
.policy{
    padding: 30px;
}
.policy nav ul {
    display: flex;
    justify-content: center;
}
.policy nav ul li{
    list-style: none;
    margin: 10px 20px;
}
.footer-part h1 {
    margin-bottom: 40px;
}

@media only screen and (min-width:768px) and (max-width:992px){
    
    .top-banner{
        border-radius: 60px;
    }
    .two-part{
        flex-direction: column;
    }
    .side-part{
        background-color: #fff;
        width: auto;
        height: auto;
        margin-bottom: 60px;
    }
    .side-part ul{
        display: flex;
        justify-content: center;
        height: 0px;
    }
    .side-part ul li{
        margin-left: 20px;
        
    }
    .field {
        margin: 13px 15px;
        border-radius: 11px;
        height: 420px;
    }
    .fild-part{
        grid-template-columns: repeat(2, 1fr);
    }

}


@media only screen and (max-width:577px){
    .warper{
        flex-direction: column;
    }
    
    .two-part{
        flex-direction: column;
        align-items: center;
    }
    .side-part{
        background-color: #fff;
        width: 100%;
    }
    .fild-part{
        grid-template-columns: 1fr;
    }
    .field {
        margin-left: 0px;
        border-radius: 11px;
        height: 385px;
        box-shadow: 1px 2px 8px 0px;
        width: 300px;
    }
    .policy nav ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px){
    .warper{
        flex-direction: column;
        
    }
    .two-part{
        align-items: center;
        justify-content: center;
    }
    .side-part{
        display: none;
    }
    .fild-part{
        grid-template-columns: 1fr;
        display: grid;
        align-items: center;
    }
    
    .field {
        margin-left: 0px;
        border-radius: 11px;
        height: 455px;
        box-shadow: 1px 2px 8px 0px;
        width: 450px;
        
        
    }
}

/* another part */
.images-vs{
    display: flex;
    justify-content: center;
    
}
.vs-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;

}
.countries{
    border: 1px solid #efefef;
    margin: 10px 10px;
    height: 150px;

}
.images-vs h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    text-align: center;
}