/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*-- common css-- */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin-bottom: 100px;
}
/* --------main css part------ */
.top-section{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 30px;
    
}
.container{
    width: 1170px;
    
}

.top-banner{
    background-color: black;
    border-radius: 30px;
}

.warper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.top-text{
    color: white;
    width: 400px;
    padding-left: 40px;
}
.top-text h3{
    font-size: 50px;
}
.top-text p{
    margin-bottom: 45px;
}
.btn-link a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 10px 30px;
    background-color: tomato;
    border-radius: 4px;
}
.fa-angle-right{
    padding-left: 10px;
    margin-top: -3px;
}

/* -------animation part--------*/
#animation {
    height: 250px;
    width: 250px;
    border: 10px solid red;
    position: absolute;
    border-radius: 50%;
    top: 7%;
    left: 53%;
    z-index: -11;
    animation: animation 3s infinite forwards;
}
#ani-squre{
    height: 75px;
    width: 75px;
    border: 15px solid rgb(238, 144, 144);
    background-color: rgba(241, 241, 241, 0);
    position: absolute;
    top: 18%;
    left: 68%;
    z-index: -10;
    animation: squre 3s infinite ease-in-out alternate-reverse;
}

@keyframes animation {
 0%{ border-color:rgb(3, 3, 3); transform: scale(1); }
 25%{border-color:rgb(29, 51, 245); transform: scale(1.1);}
 50%{border-color:rgb(209, 155, 37); transform: scale(1.2);}
 75%{border-color:rgb(110, 4, 248); transform: scale(1.1);}
 100%{border-color:rgb(248, 0, 0); transform: scale(1);}
    
}
@keyframes squre {
    0%{transform: rotate(0deg);}
    25%{border-color: aqua; border-width: 10px;}
    50%{border-color: rgb(24, 4, 56); border-width: 20px;}
    75%{border-color: rgb(241, 227, 19); border-width: 30px;}
    100%{transform:rotate(360deg); border-width: 15px;}
}
.img-part{
    position: relative;
    z-index: 18;
}

/* --------second part ---------*/
.two-part{
    display: flex;
}
.side-part{
    width: 500px;
    height: 235px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
    
}
.blog{
    background-color: red !important;
}
.side-part ul li{
    list-style: none;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.side-part ul li a{
    text-decoration: none;
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 145px;
    text-align: center;
    font-weight: 700;
    border: 1px solid rgb(233, 233, 233);
}
.fild-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    
}
.fild-part img{
    width: 100%;
}

.field{
    margin-left: 25px;
    border-radius: 11px;
    height: 360px;   
    box-shadow: 1px 2px 8px 0px;
}
.card-text{
    padding: 16px;
}
.card-text button{
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0px 5px;
}

.card-text p{
    margin: 15px 0px;
}
.icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
}
.icons i{
    margin-right: 10px
}
.hidden-btn{
    text-align: center;
    margin-top: 20px;
}
.hidden-btn a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border-radius: 4px;
    visibility: hidden;

}

/* ------------footer part -----------*/
.footer-part{
    text-align: center;
    margin: auto;
    
}
footer{
    background-color: black;
    color: white;
}
.footer-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 60px;
}
hr{
    border: 1px solid rgb(72 70 70);
}
.policy{
    padding: 30px;
}
.policy nav ul {
    display: flex;
    justify-content: center;
}
.policy nav ul li{
    list-style: none;
    margin: 10px 20px;
}
.footer-part h1 {
    margin-bottom: 40px;
}
.social-icon i{
    font-size: 30px;
    margin: 20px 20px;
}
/*-----media query--------  */
@media only screen and (min-width:768px) and (max-width:992px){
    
    .top-banner{
        border-radius: 60px;
    }
    .two-part{
        flex-direction: column;
    }
    .side-part{
        background-color: #fff;
        width: auto;
        height: auto;
        margin-bottom: 60px;
    }
    .side-part ul{
        display: flex;
        justify-content: center;
        height: 0px;
    }
    .side-part ul li{
        margin-left: 20px;
        
    }
    .field {
        margin: 13px 15px;
        border-radius: 11px;
        height: 420px;
    }
    .fild-part{
        grid-template-columns: repeat(2, 1fr);
    }
    .hidden-btn a{
        visibility: visible;
    }

}

@media only screen and (max-width:577px){
    .warper{
        flex-direction: column;
    }
    
    .two-part{
        flex-direction: column;
        align-items: center;
    }
    .side-part{
        background-color: #fff;
        width: 100%;
    }
    .fild-part{
        grid-template-columns: 1fr;
    }
    .field {
        margin-left: 0px;
        border-radius: 11px;
        height: 385px;
        box-shadow: 1px 2px 8px 0px;
        width: 300px;
    }
    .policy nav ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .hidden-btn a{
        visibility: visible;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px){
    .warper{
        flex-direction: column;
        
    }
    .two-part{
        align-items: center;
        justify-content: center;
    }
    .side-part{
        display: none;
    }
    .fild-part{
        grid-template-columns: 1fr;
        display: grid;
        align-items: center;
    }
    
    .field {
        margin-left: 0px;
        border-radius: 11px;
        height: 455px;
        box-shadow: 1px 2px 8px 0px;
        width: 450px;
            
    }
    .policy nav ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

/* ----------another website part-------- */
.images-vs{
    display: flex;
    justify-content: center;
    
}
.vs-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;

}
.countries{
    border: 1px solid #efefef;
    margin: 10px 10px;
    height: 215px;
    display: grid;
    align-items: center;

}
.images-vs h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    text-align: center;
}